@import "variables.less";
@import "variables_override.less";
@import "mixins.less";
@import "fonts.less";
@import "header.less";
@import "footer.less";

@blueText: #5293c2;
@greyText: #9b9b9b;
@url: '../img/';
@footer_gray: #868686;
@footer_border: 1px solid #373737;
@marginLeftContent: 64px;


body{
    padding: 0;
}

ul{
    list-style: none;
    margin: 0;
}


.container{
    width: 1000px;
}

.main-wrap{

    .arrow.content{
        float: left;
        display: block;
        width: 10px;
        height: 19px;
        margin-right: 3px;
        background-repeat: no-repeat;
        background-image: url('@{url}content_arr.png');

        &.left{
            margin-left: 12px;
            background-position: 0 0;

            &.hover{
                background-position: 0 -18px;                            
            }
        }

        &.right{
            background-position: -12px 0;

            &.hover{
                background-position: -12px -18px; 
            }
        }
    }

    .counter{
        float: left;
        display: block;
        width: 35px;
        padding-right: 6px;
        padding-left: 17px;
        height: 11px;
        font-family: "Arial";
        color: @greyText;
        font-size: 11px;
        line-height: 11px;
        background-repeat: no-repeat;
        background-image: url('@{url}own_likes.png');

        &.likes{
            background-position: 2px 0;
        }
        &.views{
            background-position: -156px 0;
        }
    }

    .container{
        
        h1.section_title{
            float: left;
            margin: 0 12px 0 0;
            font-family: "Helvetica Neue Bold";
            color: @greyText;
            font-size: 19px;
            line-height: 25px;
            text-transform: uppercase;
        }
        .film_desc{
            
            .text{
                color: @greyText;
                font-size: 13px;
            }
        }
    
        .month_wrapper{
            padding-bottom: 4px;
            background-color: @white;

            .top{
                float: left;
                width: 873px;
                height: 25px;
                margin-top: 63px;
                margin-left: @marginLeftContent + 15;

                h1.section_title{
                    color: @greyText - #020202;

                }
                .arrow{
                    margin-top: 4px;
                }

                .see_all{
                    display: block;
                    float: right;
                    margin-top: 5px;
                    padding-left: 22px;
                    color: @blueText; 
                    font-size: 13px;
                    line-height: 17px;
                    text-decoration: underline;
                    background: url('@{url}see_all.png') 0 2px no-repeat;
                }
            }
            .carousel_wrapper{
                float: left;
                height: 259px;
                margin-left: @marginLeftContent + 16;   
                overflow: hidden;

                .carousel-inner{
                    width: 920px;
                    overflow: hidden;

                    .items_list{
                        height: auto;

                        .item{
                            float: left;
                            width: 182px;
                            height: 238px;
                            margin-top: 21px;
                            margin-right: 48px;

                            &.nofloat{
                                float: none;
                            }

                            .thumb{
                                float: left;
                                width: 182px;
                                height: 122px;
                                margin-bottom: 22px;
                                background-color: @black;
                                background-position: center;
                                background-repeat: no-repeat;
                                .border-radius(3px);

                                .transp{
                                    display: none;
                                    width: 182px;
                                    height: 122px;
                                    #translucent > .background(#222222, 0.78);
                                    .border-radius(3px);

                                    a{
                                        display: block;
                                        width: 132px;
                                        height: 20px;
                                        margin: 49px 25px;
                                        padding: 7px 0;
                                        color: @white;
                                        font-family: "Helvetica Neue Bold";
                                        font-size: 14px;
                                        line-height: 20px;
                                        text-align: center;
                                        text-decoration: none;
                                        background-repeat: no-repeat;
                                        background-position: 0 0;
                                        background-image: url('@{url}history_btn.png');
                                        
                                        &:hover{
                                            background-position: 0 -34px;
                                        }
                                        &:active{
                                            background-position: 0 -68px;
                                        }
                                    }
                                }
                            }
                            a{
                                float: left;
                                margin-left: 1px;
                                color: @blueText; 
                                font-size: 13px;
                                text-decoration: underline;
                            }
                            .film_desc{
                                float: left;
                                margin-top: 5px;

                                .text{
                                    float: left;
                                    margin-bottom: 16px;
                                    margin-left: 1px;
                                    font-size: 12px;
                                    line-height: 14px;
                                    height: 42px;
                                    overflow: hidden;
                                }
                            }
                        }
                    }
                }
            }
            
        }
    }
}


.notch{
    float: left;
    width: 100%;
    height: 10px;
    background: url('@{url}notch_bg.png') 0 0 repeat-x #efefef;
}

.news_wrapper{
    width: 1000px;
    height: auto;
    background-color: #efefef;

    .arrow.content{

        &.left{
            background-position: 0 1px;

            &.hover{
                background-position: 0 -17px;                            
            }
        }

        &.right{
            background-position: -12px 1px;

            &.hover{
                background-position: -12px -17px; 
            }
        }
    }

    .history, .news{
        float: left;
        margin-top: 74px;
    }
    .history h1.section_title, .news h1.section_title{
        margin-bottom: 28px;
    }
    .play{
        position: absolute;
        width: 33px;
        height: 35px;
        background-position: 0 0;
        background-repeat: no-repeat;
        background-image: url('@{url}play_btn.png');
        z-index: 10;

        &:hover{
            background-position: 0 -35px;
        }
    }

    .history{
        width: 500px;
        margin-right: 72px;
        margin-left: @marginLeftContent;
        overflow: hidden;

        h1.section_title{
            margin-left: 15px;
        }

        ul.films_list{
            width: 546px;
            
            li{
                float: left;
                
                &.narrow{
                    @narrowWidth: 227px;
                    @narrowGallHeight: 144px;
                    width: @narrowWidth;
                    height: 286px;
                    margin-bottom: 34px;
                    margin-right: 46px;
                    padding-bottom: 12px;
                    #gradient > .vertical(@white, #f8f8f8);
                    .border-bottom-right-radius(3px);
                    .border-bottom-left-radius(3px);
                    .box-shadow(0 2px 0 rgba(0,0,0,.06));

                    .item{
                        position: relative;
                        width: @narrowWidth;
                        height: @narrowGallHeight;
                        margin-bottom: 25px;
                        .border-radius(3px);    
                        background-color: @black;
                        background-position: center;
                        background-repeat: no-repeat;

                        .thumb{
                            width: @narrowWidth;
                            height: @narrowGallHeight;
                        }
                    }

                    a.film_title{
                        display: block;
                        margin: 0 24px;
                        color: @blueText;
                        font-size: 13px;
                        line-height: 15px;
                    }

                    .film_desc{
                        margin: 9px 24px 0 24px;

                        .text{
                            height: 42px;
                            margin-bottom: 15px;
                            line-height: 14px;
                            overflow: hidden;
                        }
                    }

                    
                }

                &.wide{
                    @wideWidth: 500px;
                    @wideGallHeight: 200px;
                    width: @wideWidth;
                    margin-bottom: 34px;

                    a.film_title{
                        margin-left: 18px;
                        color: @blueText;
                        font-family: "Helvetica Neue Bold";
                        font-size: 20px;
                    }

                    .film_desc{
                        width: @wideWidth - 18;
                        margin-top: 19px;
                        margin-left: 16px;

                        .text{
                            margin-bottom: 14px;
                            margin-left: 3px;
                        }
                    }

                    .carousel_wrapper{
                        width: @wideWidth;
                        margin-bottom: 24px;

                        .carousel-inner{
                            float: left;
                            width: @wideWidth - 2;
                            height: @wideGallHeight -2;
                            border: 1px solid @black;

                            .items_list{
                                .item{
                                    width: @wideWidth - 2;
                                    height: @wideGallHeight - 2;

                                    .thumb{
                                        width: @wideWidth - 2;
                                        height: @wideGallHeight - 2;
                                    }
                                }
                            }
                        }
                    }
                }

                a.film_title{
                    float: left;
                }
                .film_desc{
                    float: left;

                    .text{
                        line-height: 18px;
                    }
                }
                .play{
                    right: 15px;
                    bottom: 12px;
                }
                
                .carousel_wrapper{
                    float: left;
                    
                    .carousel-inner{
                        float: left;
                        overflow: hidden;
                        .border-radius(3px);

                        .items_list{
                            
                            .item{
                                position: relative;
                                float: left;

                                .thumb{
                                    background-position: center;
                                    background-repeat: no-repeat;
                                }
                            }
                        }
                    }
                }

            }
        }
    }

    .news{
        @newsWidth: 315px;
        width: @newsWidth;

        h1.section_title{
            width: @newsWidth;
        }

        a.film_title{
            float: left;
            color: @blueText;
            font-family: "Helvetica Neue Bold";
            font-size: 20px;
        }

        .films_list{
            float: left;
            margin-left: 1px;

            li{
                float: left;
                margin-bottom: 34px;

                .item{
                    position: relative;
                    float: left;
                    margin-bottom: 24px;

                    .thumb{
                        width: @newsWidth - 2;
                        border: 1px solid @black;
                        .border-radius(3px);
                    }
                    .play{
                        right: 15px;
                        bottom: 14px;
                    }
                }
                .film_desc{
                    float: left;
                    margin-top: 19px;

                    .text{
                        width: @newsWidth;
                        margin-bottom: 14px;
                    }
                }
            }
        }
    }
}

body.modal-open{
    width: 100%;
    height: 100% + 20;
    min-width: 930px;
    min-height: 684px;
    overflow-x: hidden;
}
body.low{

    #popup.modal{
        top: 10px;
        margin-top: 0;
    }
}
body.narrow{
    overflow-x: auto;

    #popup.modal{
        left: 10px;
        margin-left: 0;
    }
}

#popup.modal{
    position: absolute;
    width: 857px;
    height: 684px;
    left: 50%;
    top: 50%;
    margin: -346px 0 0 -433px; 
    border: 0;
    .box-shadow(0 2px 5px rgba(00,0,0,.4));


    .close{
        position: absolute;
        right: -63px;
        top: -1px;
        opacity: 1;
        .reset-filter();
        background: none;
    }
    .image{
        .border-radius(3px);
        background-color: #000;
        background-position: center;
        background-repeat: no-repeat;

        &.film{
            position: absolute;
            left: 33px;
            top: 47px;
            width: 94px;
            height: 94px;
        }
    }
    .reputation, .minutes{
        position: absolute;
        right: -8px;
        width: 89px;
        height: 55px;
        padding-top: 8px;
        padding-bottom: 16px;
        color: @white;
        font-size: 15px;
        font-family: "Helvetica Neue Bold";
        text-align: center;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
        background-repeat: no-repeat;
        background-image: url('@{url}popup/labels.png');

        .number{
            font-size: 35px;
            line-height: 35px;
        }
    }
    .reputation{
        top: 47px;
        padding-right: 49px;
        padding-left: 51px;
        background-position: 0 0;
    }
    .minutes{
        top: 219px;
        padding-right: 14px;
        padding-left: 86px;
        background-position: 0 -78px;

        .dash{
            position: absolute;
            left: 20px;
            top: 25px;
        }
    }
    .note{
        position: absolute;
        right: 14px;
        top: 137px;
        width: 150px;
        color: #656666;
        font-size: 13px;
        line-height: 17px;
    }

    .modal-body{
        @marginLeft: 6px;
        width: 498px;
        max-height: 600px;
        padding: 45px 209px 0 150px;
        overflow: visible;

        h3{
            margin: 0 0 23px @marginLeft;
            margin-bottom: 23px;
            color: #231f20;
            font-family: "Helvetica Neue Bold";
            font-size: 20px;
            line-height: 20px;
        }
        .for_list{
            margin-left: @marginLeft;
            font-family: "Helvetica Neue Bold";
            font-size: 17px;
            line-height: 19px;
        }
        ul{
            list-style-image: url('@{url}popup/ul_bullet.png');
            margin: 12px 0 0 @marginLeft + 12;
            
            li{
                //margin: 4px 0 5px 0;
                padding: 3px 0 3px 9px;
                color: #656666;
                font-size: 15px;
            }
        }
        .image{
            float: left;
            .box-shadow(0 1px 2px rgba(0, 0, 0, 0.5));
        }

        .prize{
            height: 70px;
            margin-top: 44px;
            margin-left: @marginLeft - 1;

            .image{
                width: 67px;
                height: 67px;
            }

            .desc{
                float: left;
                width: 317px;
                padding: 5px 0 0 22px;
                font-size: 13px;
                line-height: 17px;
                

                span{
                    font-family: "Helvetica Neue Bold";
                }
            }
        }
        .comment{
            height: 72px;
            margin-top: 42px;
            margin-left: @marginLeft - 1;

            .image{
                width: 65px;
                height: 65px;
            }

            .txt_area{
                float: left;
                position: relative;
                width: 369px;
                height: 72px;
                margin-left: 13px;
                background: url('@{url}popup/txt_area.png') 0 0 no-repeat;

                textarea{
                    position: absolute;
                    left: 19px;
                    top: 10px;
                    width: 341px;
                    height: 51px;
                    margin: 0;
                    padding: 0;
                    color: #7e8080;
                    font-size: 15px;
                    line-height: 17px;
                    border: 0;
                    .box-shadow(0 0 0 rgba(0, 0, 0, 0));
                }
            }
        }
        .attach{
            display: inline-block;
            margin-top: 8px;
            margin-left: @marginLeft + 86;
            padding-left: 21px;
            color: #52a4bf;
            font-size: 13px;
            line-height: 16px;
            text-decoration: underline;
            background: url('@{url}popup/attach.jpg') 0 0 no-repeat;

            &:hover{
                text-decoration: none;
            }
        }
        .friends{
            width: 490px;
            height: 71px;
            margin-top: 35px;
            background-color: #fafcfc;
            border: 1px solid #f1f2f2;
            .border-radius(5px);

            button{
                float: left;
                width: 98px;
                margin: 19px 0 0 14px;
                padding: 4px 0 5px;
                color: @white;
                font-family: "Helvetica Neue Bold";
                font-size: 15px;
                text-align: center;
                background-color: #cacccc;
                border: none;
                .border-radius(3px);
                .box-shadow(0 1px 2px rgba(0, 0, 0, 0.2));
            }
            .select{
                float: left;
                display: inline-block;
                margin: 23px 0 0 12px;
                font-size: 15px;
                font-family: "Helvetica Neue Bold";
                text-decoration: underline;

                &:hover{
                    text-decoration: none;
                }
            }
        }
    }
    .modal-footer{
        margin-top: 20px;
        .border-radius(0);
        text-align: left;
        background: none;

        .recommend{
            width: 160px;
            margin: 14px 0 0 141px;
            padding: 12px 5px 16px 0;
            color: @white;
            font-family: "Helvetica Neue Bold";
            font-size: 15px;
            text-align: center;
            text-transform: uppercase;
            text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
            border: none;
            .border-radius(3px);
            background: url('@{url}popup/recommend_btn.png') 0 0 no-repeat;
        }
    }
}
.modal-backdrop.fade.in{
    background-color: #eeeeee;
}

.month_wrapper .top:after, .month_wrapper:after, .news_wrapper:after, ul.films_list:after, .month_wrapper .items_list:after{
    content:'.';
    clear:both;
    height: 0;
    display: block;
    visibility: hidden;
}