@font-face {
  font-family: "Helvetica Neue";
  src: local("HelveticaNeueLTStd-Roman"),
       local("HelveticaNeueLTStd-Roman"),
       url("/media/static/fonts/HelveticaNeueLTStd-Roman.otf") format("opentype");
}
@font-face {
  font-family: "Helvetica Neue Bold";
  src: local("HelveticaNeueLTStd-Md"),
       local("HelveticaNeueLTStd-Md"),
       url("/media/static/fonts/HelveticaNeueLTStd-Md.otf") format("opentype");
}