{% load ifsetting_tag %}
{% load i18n %}
<script type="text/javascript">
    window.movies = {};
    window.movies.debug = false;
    {% ifsetting DEBUG %}
        window.movies.debug = true;
    {% endifsetting %}
    window.movies = {};
    window.movies.ready = false;
    window.movies.site_url = "{{ SITE_URL }}";

    window.debug_log = function debug_log(){
        if (window.movies.debug){
            console.log(arguments)
        }
    }

    $(window).ready(function() {
        window.movies.ready = true;
    });

    var trans_messages = {
            'Invalid amount': '{% trans 'Invalid amount' %}'
    }
</script>
