{% if bootstrap %}{% include "ajax_select/bootstrap.html" %}{% endif %}
<input type="text" name="{{name}}" id="{{html_id}}" value="{{current_repr}}" autocomplete="off" {{ extra_attrs }} />
<script type="text/javascript">//<![CDATA[
(function(){
    function do_binding(some_id){
        {% block script %}
                addAutoComplete(some_id, function(html_id) {
                        var opts = {{ plugin_options }};
                        opts['select'] =
                                function(event, ui) {
                                        $this = $("#"+html_id)
                                        $this.addClass('searched');
                                        $this.parent().parent().removeClass('error');
                                        if (ui.item.isElse){
                                            return false;
                                        }
                                        $this.val(ui.item.value).trigger("added");
                                        return false;
                                }
                        $("#"+html_id).autocomplete(opts).autocompletehtml();
                });
        {% block extra_script %}{% endblock %}
        {% endblock %}
    }

    if (window.movies.ready) {
        do_binding("{{html_id}}");
    } else {
        jQuery(document).ready(function($){
            do_binding("{{html_id}}");
        });
    }
})();
//]]>
</script>
{% block help %}{% if help_text %}<p class="help">{{ help_text }}</p>{% endif %}{% endblock %}
{{ inline }}
