{% extends "theme_bootstrap/less_base.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% load compress %}
{% load url from future %}
{% load webdesign %}


{% block head_title %}{% endblock head_title %}

{% block style_base %}
    {% compress css %}
        <link href="{% static 'pinax/css/theme.css' %}" rel="stylesheet" media="all" charset="utf-8">
        <link href="{% static 'bootstrap/less/bootstrap.less' %}" rel="stylesheet" type="text/less" media="all" charset="utf-8">
        <link href="{% static 'bootstrap/less/responsive.less' %}" rel="stylesheet" type="text/less" media="all" charset="utf-8">
        <link href="{% static 'css/ajax_select.css' %}" rel="stylesheet" media="all" charset="utf-8">
        <link href="{% static 'css/base.less' %}" rel="stylesheet" type="text/less"  media="all" charset="utf-8">
        {# Please do NOT use minified versions! They can cause minification problems. #}

        {# Do not use nested block here. Offline compression will fail. Use block.super in extended templates #}

    {% endcompress %}
    <link href="{% static 'css/libs/jquery-ui-1.9.0.custom.css' %}" rel="stylesheet" media="all" charset="utf-8">
{% endblock style_base %}


{% block extra_head_base %}
    <script type="text/javascript" src="/jsi18n/"></script>
    {# Some libs are required to be on top for inlines #}
    {% block extra_head_js %}
        {% compress js %}
            <script src="{% static 'js/libs/jquery-1.8.1.js' %}"></script>
            <script src="{% static 'js/base.js' %}"></script>
            {# ajax_select and friends #}
            <script src="{% static 'js/libs/ui/jquery.ui.core.js' %}"></script>
            <script src="{% static 'js/libs/ui/jquery.ui.widget.js' %}"></script>
            <script src="{% static 'js/libs/ui/jquery.ui.position.js' %}"></script>
            <script src="{% static 'js/libs/ui/jquery.ui.menu.js' %}"></script>
            <script src="{% static 'js/libs/ui/jquery.ui.autocomplete.js' %}"></script>
            <script src="{% static 'js/libs/jquery.ui.selectmenu.js' %}"></script>
            <script src="{% static 'js/libs/bootstrap-fileupload.js' %}"></script>
            <script src="{% static 'js/libs/jquery.tinyscrollbar.min.js' %}"></script>
            <script src="{% static 'js/libs/jquery.text-overflow.js' %}"></script>
            <script src="{% static 'js/ajax_select.js' %}"></script>
            {# ajax_select and friends end #}

            <script src="{% static 'js/libs/underscore.js' %}"></script>
            <script src="{% static 'js/libs/jquery.form.js' %}"></script>
            {# Do not use nested block here. Offline compression will fail. Use block.super in extended templates #}
        {% endcompress %}
        {% include '_js.html' %}
    {% endblock %}
    {% block extra_head %}{% endblock %}
{% endblock %}

{% block script_base %}
    {% compress js %}
{#    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script> #}
    <script src="{% static 'js/libs/bootstrap/bootstrap-alert.js' %}"></script>
    <script src="{% static 'js/libs/bootstrap/bootstrap-button.js' %}"></script>
    <script src="{% static 'js/libs/bootstrap/bootstrap-collapse.js' %}"></script>
    <script src="{% static 'js/libs/bootstrap/bootstrap-tooltip.js' %}"></script>
    <script src="{% static 'js/libs/bootstrap/bootstrap-modal.js' %}"></script>
    <script src="{% static 'js/libs/bootstrap/bootstrap-dropdown.js' %}"></script>
    <script src="{% static 'js/libs/bootstrap/bootstrap-popover.js' %}"></script>
    <script src="{% static 'js/libs/bootstrap/bootstrap-tab.js' %}"></script>
    <script src="{% static 'js/libs/bootstrap/bootstrap-transition.js' %}"></script>

    <script src="{% static 'pinax/js/theme.js' %}"></script>

    <script src="{% static 'js/libs/jquery.cookie.js' %}"></script>
    {# Do not use nested block here. Offline compression will fail. Use block.super in extended templates #}
    {% endcompress %}
{% endblock %}

{% block body_class %}{% endblock %}

{% block body_id %}{% endblock %}


{% block topbar_base %}
    <header>
        <div class="container" style="{% block header_bg %}{% endblock %}">
            <div class="navbar">
                <div class="navbar-inner"> 
                    {% block topbar %}
                        <div class="topbar">
                            {% block site_brand %}
                                <a class="brand" href="{% url 'home' %}"><img src="{% static 'img/header/logo.png' %}"/></a>
                            {% endblock %}
                            <div class="nav-collapse">
                                {% block nav %}
                                    <ul class="nav main">
                                        {% for item in menu_description.values %}
                                            {% include "core/blocks/menu-item.html" %}
                                        {% endfor %}
                                    </ul>
                                {% endblock %}
                            </div>
                            <form class="form-search pull-right">
                                <div class="input-append">
                                    <input type="text" placeholder="Search box">
                                    <button type="submit" class="btn btn-link">
                                      <i class="icon-search icon"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    {% endblock %}
                </div>
            </div>
            
            {% block movie_of_the_day %}{% endblock %}

        </div>
    </header>
{% endblock %}


{% block body_base %}
    <div class="main-wrap">
        <div class="container main-content">
            {% include "_messages.html" %}
            {% block body %}
                <div class="content-wrapper">
                {% block content %}{% endblock %}
                </div>
                <div class="ajax-indicator" style="display:none"></div>
            {% endblock %}
        </div>
        {% block footer_base %}
            <footer>
                <div class="container">
                    {% block footer %}
                        <div class="info">
                            <div class="logo">
                                <img src="{% static 'img/footer_logo.png' %}"/>
                            </div>
                            <div class="text">
                                Laos, alongside many of its Southeast Asian neighbours, is well known.
                            </div>
                            <ul class="social">
                                <li><a href="{% url 'home' %}"><img src="{% static 'img/footer_fb_icon.png' %}"></a></li>
                                <li><a href="{% url 'home' %}"><img src="{% static 'img/footer_tw_icon.png' %}"></a></li>
                                <li><a href="{% url 'home' %}"><img src="{% static 'img/footer_rss_icon.png' %}"></a></li>
                            </ul>
                        </div>
                        
                        {% block footer_nav %}
                            <ul class="nav">
                                {% for item in menu_description.values %}
                                    {% include "core/blocks/footer-menu.html" %}
                                {% endfor %}
                            </ul>

                            <ul class="nav">
                                {% for item in menu_description.values %}
                                    {% if item.classes.1 %}
                                        <li class="{{ item.classes|join:' ' }}"><a href="{% if item.url_names %}{% url item.url_names.0 %}{% else %}#{% endif %}">{{ item.title }}</a> {% if item.updates %}({{ item.updates }}){% endif %}
                                    {% endif %}
                                {% endfor %}
                            </ul>
                                
                            {% comment %}
                            {% include "core/blocks/footer-menu.html" %}
                            {% endcomment %}
                        {% endblock %}
                    {% endblock %}
                </div>
            </footer>
        {% endblock %}
    </div>

    <!-- Modal -->
    <div id="popup" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Modal header</h3>
    </div>
    <div class="modal-body">
    <p>One fine body…</p>
    </div>
    <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Save changes</button>
    </div>
    </div>
{% endblock %}
