{% load url from future %}
{% if not item.classes.1 %}
    <li class="{{ item.classes|join:' ' }}"><a href="{% if item.url_names %}{% url item.url_names.0 %}{% else %}#{% endif %}">{{ item.title }}</a> {% if item.updates %}<span>{{ item.updates }}</span>{% endif %}

    {% if item.submenu %}
        <ul class="">
            {% for item in item.submenu.values %}
                {% with template_name="core/blocks/footer-menu.html" %} {# this trick allows recursive use of templates #}
                    {% include template_name %}
                {% endwith %}
            {% endfor %}
        </ul>
    {% endif %}
    </li>
{% endif %}