{% extends 'site_base.html' %}
{% load static from staticfiles %}
{% load thumbnail %}

{% block header_bg %}background: url({% static 'img/header/pattern.jpg' %}) 0 0 no-repeat;{% endblock %}

{% block movie_of_the_day %}
    <div class="day_wrapper">
        <div class="poster_wrapper">
            <div class="poster">
                <div class="shine"></div>            
                <div class="image" style="background-image: url('{% thumbnail "movie-shots/cover_0.jpg" "207x303" crop="center" as im %}{{ im.url }}{% endthumbnail %}');"></div>
            </div>

            <ul class="stars">
                <li></li><li></li><li></li><li></li><li></li>
            </ul>
        </div>
        <div class="desc">
            {% with day_movie=movies_of_the_day.0 %}
                <h3>Movie of the day</h3>
                <h2 class="name">{{ day_movie.title }}</h2>
                <div class="day_arrows"><a href="#" class="l"></a><a href="#" class="r"></a></div>
                <div class="splash_text">
                    {{ day_movie.description|truncatewords_html:20 }}
                </div>
                <div id="carousel1" class="carousel_wrapper">
                    <div class="carousel-inner">
                        <ul class="items_list">
                            {% for trailer in movies_of_the_day.0.trailer_set.all %}
                                <li class="item">
                                    <div class="thumb" style="background-image: url('{% thumbnail trailer.image "162x98" crop="center" as image %}{{ image.url }}{% endthumbnail %}');"></div>
                                    <a href="#">Trailer #1</a>
                                </li>
                            {% endfor %}
                            
                        </ul>
                        {% comment %} rate: {{ day_movie.rating.score }} {{ day_movie.rating.votes }}{% endcomment %}
                    </div>
                    <a href="" carousel="carousel1" class="arrow left"></a>
                    <a href="" carousel="carousel1" class="arrow right"></a>
                </div>
            {% endwith %}
        </div>
    </div>
{% endblock %}

{% block content %}

    {% block movies_of_the_day %}
        <div class="month_wrapper">
            <div class="top">
                <h1 class="section_title">Movies of the month</h1>
                <a href="" carousel="carousel2" class="arrow left"></a>
                <a href="" carousel="carousel2" class="arrow right"></a>
                <a href="" class="see_all">See All</a>
            </div>
            <div id="carousel2" class="carousel_wrapper">
                <div class="carousel-inner">
                    <ul class="items_list">
                        {% for movie in movies_of_the_month %}
                            <li class="item">
                                <div class="thumb" style="background-image: url('{% thumbnail movie.get_image "182x122" crop="center top" as image %}{{ image.url }}{% endthumbnail %}');"></div>
                                <a href="{{ movie.get_absolute_url }}">{{ movie.title }}</a>
                                <div class="film_desc">
                                    <div class="text">{{ movie.description|truncatewords_html:12 }}</div>
                                    <span class="counter likes">{{ movie.likes_month }}</span><span class="counter views">{{ movie.played_times_month }}</span>
                                </div>
                            </li>
                             

                            
                        
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <!--div class="notch"></div-->
    {% endblock %}

{% endblock %}
{% comment %}
{% block content %}
    {% with day_movie=movies_of_the_day.0 %}
        <h1>Movie of the day</h1>
        {{ day_movie.title }}<br/>
        {{ day_movie.description }}<br/>
        {% for trailer in movies_of_the_day.0.trailer_set.all %}
            {% thumbnail trailer.image "200" as image %}
                <img src="{{ image.url }}"><br/>
            {% endthumbnail %}
        {% endfor %}
        rate: {{ day_movie.rating.score }} {{ day_movie.rating.votes }}
    {% endwith %}


    <h1>Movies of the month:</h1>
    {% for movie in movies_of_the_month %}
        {{ movie.title }} {{ movie.description }} {{ movie.likes_month }} {{ movie.played_times_month }} {{ movie.get_absolute_url }}

        {{ movie.get_image.url }}
        <br/><br/>
    {% endfor %}

    <h1>Movies of the day history:</h1>
    {% for history in movies_of_the_day_history %}
        {{ history.rated_day }}
        {% with movie=history.movie trailers=history.movie.trailer_set.all %}
            {{ movie.title }} {{ movie.description }} {{ movie.likes_month }} {{ movie.played_times_month }} {{ movie.get_absolute_url }}<br/>
            {% for image in movie.get_all_images_playable %}
                {{ image.0.url }}
                is playable: {{ image.1 }}
            {% endfor %}
        {% endwith %}</br>
        <br/><br/>
    {% endfor %}

    <h1>Latest news:</h1>
    {% for newsitem in news %}
        {{ newsitem.title }} {{ newsitem.full_text }}
        {{ newsitem.get_image_playable.0.url }}
        {% if newsitem.get_image_playable.1 %}
            It's trailer with url {{newsitem.get_image_playable.1url }}
        {% endif %}
        </br><br/>
    {% endfor %}
{% endblock %}
{% endcomment %}